:root {
  --primary: #171717;
  --secondary: #F0F5F9;
  --blue: #00A8CC;
  --blue2: #175A69;

  --white: #EEE;
  --black: #111;

  --shadow: #00000086;
  --shadowWhite: #eeeeee91;

  --gradient: linear-gradient(to right, var(--blue), var(--blue2));
}
