<section id="banner">
  <div class="content">
    <h2>See Category Products</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dicta quisquam dolorum doloribus aperiam pariatur sapiente, quam, debitis nesciunt error alias.</p>
    <button mat-raised-button (click)="scroll()" class="btn">See Category</button>
  </div>
</section>

<section id="list">
  <mat-card class="card">
    <mat-toolbar class="toolbar">
        <h2>List of Products</h2>
    </mat-toolbar>
    <div *ngIf="stock$ | async as stock; else loading">
      <table mat-table [dataSource]="stock">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let stock"> {{ stock.id }} </td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let stock"> {{ stock.product }} </td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let stock"> {{ stock.category }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</section>
