<section id="banner">
  <div class="content">
    <h2>See Complete Stock</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dicta quisquam dolorum doloribus aperiam pariatur sapiente, quam, debitis nesciunt error alias.</p>
    <button mat-raised-button (click)="scroll()" class="btn">See Stock</button>
  </div>
</section>

<section id="list">
  <mat-card class="card">
    <h2>List of Courses</h2>
    <div *ngIf="stock$ | async as stock">
      <table mat-table [dataSource]="stock" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let stock"> {{ stock.id }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</section>
