@import '../../../config-scss/rem-calc.scss';

#banner {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--shadow), var(--shadow)),url(../../../assets/stock.jfif);
  background-position: center;
  background-size: cover;

  .content {
    max-width: 900px;
    text-align: center;

    h2 {
      font-size: rem-calc(80);
      color: var(--white);
    }

    p {
      font-size: rem-calc(16);
      font-weight: 300;
      margin-top: 50px;
      color: var(--white);
    }

    .btn {
      font-size: rem-calc(16);
      text-decoration: none;
      text-transform: uppercase;
      color: var(--white);
      padding: 5px 30px;
      margin-top: 30px;
      display: inline-block;
      background: linear-gradient(to right, var(--blue), var(--blue2));
      letter-spacing: 2px;
      border-radius: 10px;
      transition: 0.5s;
    }

    .btn:hover {
      letter-spacing: 4px;
    }
  }
}

#list {
  .card {
    width: 100%;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 0 30px var(--shadowWhite);

    .toolbar {
      background: linear-gradient(to right, var(--blue), var(--blue2));

      h2 {
        font-size: rem-calc(24);
        font-weight: 500;
        margin-left: 10px;
        color: var(--white);
        letter-spacing: 2px;
      }
    }

    table {
      width: 100%;
      background-color: var(--secondary);

      .mat-column-id {
        width: 32px;
        padding-right: 24px;
        text-align: center;
        border-right: 1px solid currentColor;
      }

      .mat-column-name {
        font-size: rem-calc(20);
        padding-left: 30px;
      }

      .mat-column-category,
      .mat-column-quantity {
        font-size: rem-calc(20);
      }
    }
  }

  .loading-spinner {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
