@import '../config-scss/rem-calc.scss';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: .8s;
  background: transparent;

  .logo {
    font-size: rem-calc(32);
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    transition: .3s;

    span {
      color: var(--blue);
    }
  }

  .navigation {
    position: relative;
    display: flex;

    li {
      margin-left: 30px;
      list-style: none;
      cursor: pointer;

      a {
        font-weight: 300;
        text-decoration: none;
        color: var(--white);
      }

      a:hover {
        color: var(--blue);
        text-shadow: 0 0 15px var(--blue);
      }
    }
  }
}

mat-toolbar.sticky {
  padding: 10px 100px;
  background-color: var(--primary);
  box-shadow: 0 5px 20px var(--shadow);

  .logo {
    color: var(--white);
  }

  .navigation {
    li {
      a{
        color: var(--white);
      }

      a:hover {
        color: var(--blue);
        text-shadow: 0 0 15px var(--blue);
      }
    }
  }
}
