/* You can add global styles to this file, and also import other style files */
@import './config-scss/rem-calc.scss';
@import './config-scss/variables.scss';

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  height: 100vh;
}

section {
  padding: 100px;
  background-color: var(--primary);
}



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--primary);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #888;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--primary);  /* creates padding around scroll thumb */
}
